{% extends "index.html" %}
{% block title %}
  {% if usuario %}
    {{usuario}} - Foros
  {% else %}
    Foros
    {% endif %}
{% endblock %}

{% load static %}
{% block panelLateral %}
<div class="sidebar">
  <a href="/plucoApp" id="logo"><img src="{% static "images/logo.png" %}" alt="logo" width=90 height=90></a>
  <ul>
    <li class="home">
      <a href="/plucoApp/">Home</a>
    </li>
    <li class="about">
      {% if usuario %}
      <a href="/perfil">Perfil</a>
      {% else %}
       <a href="plucoApp/about">About</a>
      {% endif %}
    </li>
    <li class="projects">
      <a href="https://www.github.com/rafaellg8/DAI_PLUCO">Projects</a>
    </li>
    <li class="blog">
      {%if usuario %}
      <a href="/plucoApp/perfil">Edit</a>
    </li>
    {% else %}
      <a href="/plucoApp/register">Sign Up</a>
    {% endif %}
    <li class="contact">
      <a href="/plucoApp/contact">Contact</a>
    </li>
  </ul>
</div>
{% endblock %}
{% block cabeceraTitulo %}
{% if usuario %}
  <div class="botonera">
    <a href="/logout"><button>logout</button></a>
  </div>
{% else %}
<div class="botonera">
  <a href="plucoApp/login"><button>login</button></a>
  <a href="plucoApp/register"><button>register</button></a>
</div>
{% endif %}
<div>
  <h3><span class="beauty">PLUCO</span></h3>
  <p style="float: left;margin-right: 400px;margin-top: 20px">
    Plataforma Universitaria Compartición Conocimiento
  </p>
</div>
{% endblock %}
{% block articuloPrincipal %}

<div>
  <h3>Foros</h3>
  <br><br><br>
  <h2>Lista de Foros</h2>


  <h1>Lista Comentarios </h1>

  {% if com %}
      {% for c in com %}
        <ul style="border: 1px solid black">
            <h2>{{ c }}</h2>
            <li>{{c.title}}</li>
            <li>{{c.theme}}</li>
            <li>{{c.userName}}</li>
            <li>{{c.commentText}}</li>
            <li>{{c.url}}</li>
            <li>{{c.date}}</li>
        </ul>
            {% endfor %}
  {% endif %}

  <br>
  {% if commentForm %}
  <h1>Nuevo comentario</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ commentForm.as_p }}
            <button type="submit" class="save btn btn-default">Nuevo tema</button>
        </form>
  {% else %}
    <a href="nuevoComentario"><button type="button" name="button">Nuevo Comentario</button></a>
  {% endif %}

</div>
{% endblock %}

{% block extra %}
{% endblock %}
