{% extends "index.html" %}
{% block title %}
  {% if usuario %}
    {{usuario}} - Foros
  {% else %}
    Foros
    {% endif %}
{% endblock %}

{% load static %}
{% block panelLateral %}
{% endblock %}
{% block cabeceraTitulo %}
<div>
  <h3><span class="beauty">PLUCO</span></h3>
  <p style="float: left;margin-right: 400px;margin-top: 20px">
    Plataforma Universitaria Compartición Conocimiento
  </p>
</div>
{% endblock %}
{% block articuloPrincipal %}

<div>
  <h3>Foros</h3>
  <br><br><br>
  <h2>Lista de Foros</h2>


  <h1>Lista Comentarios </h1>

  {% if com %}
      {% for c in com %}
        <ul style="border: 1px solid black">
            <h2>{{ c }}</h2>
            <li>{{c.theme}}</li>
            <li>{{c.userName}}</li>
            <li>{{c.commentText}}</li>
            <li>{{c.url}}</li>
            <li>{{c.date}}</li>
        </ul>
            {% endfor %}
  {% endif %}

  <br>
  {% if commentForm %}
  <h1>Nuevo comentario</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ commentForm.as_p }}
            <button type="submit" class="save btn btn-default">Nuevo tema</button>
        </form>
  {% else %}
    <a href="nuevoComentario"><button type="button" name="button">Nuevo Comentario</button></a>
  {% endif %}

</div>
{% endblock %}

{% block extra %}
{% endblock %}
