{% extends "index.html" %}
{% block title %}
  {% if usuario %}
    {{usuario}}
  {% else %}
    Principal
    {% endif %}
{% endblock %}

{% load static %}
{% block panelLateral %}
{% endblock %}
{% block cabeceraTitulo %}
{% if usuario %}
  <div class="botonera">
    <a href="/logout"><button>logout</button></a>
  </div>
{% else %}
<div class="botonera">
  <a href="plucoApp/login"><button>login</button></a>
  <a href="plucoApp/register"><button>register</button></a>
</div>
{% endif %}
<div>
  <h3><span class="beauty">PLUCO</span></h3>
  <p style="float: left;margin-right: 400px;margin-top: 20px">
    Plataforma Universitaria Compartición Conocimiento
  </p>
</div>
{% endblock %}
{% block articuloPrincipal %}
{% if usuario %}
  <div>
    <h4>Bienvenido: </h4>
    <h3>{{usuario}}</h3>
  </div>
{% else %}
<div>
  <p>Se trata de una plataforma académica de compartición de archivos de la Universidad de Granada, que permite la colaboración en grupo entre los usuarios del sistema.</p>

  <p style="float: right;margin-top: -18%;margin-right: 0px;">Desarrollado por: <strong>Rafael Lachica Garrido</strong></p>

</div>
{% endif %}
{% endblock %}
