#background-theme
{
    background: rgba(252,234,187,1);
    background:    -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
    background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    background:      -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    background:     -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    background:         linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
}

.page
{
    margin-top: -20px;
}
.home-page
{
    margin-top: -20px;
}
.li
{
    margin-right: 3px;
    margin-left: 3px;
}


.bg-4
{
    position: absolute; width: 100%;
    margin-top: 50px;

    color: #fff;
    background-color: #2f2f2f;
}

.bg-4 .a
{
    color: white;
}

.linkFooter{
  padding: 15px;
}

.linkFooter a:hover
{
    text-decoration: none;

    color: white;
}

.sidenavCustom
{
    margin-top: -15px;
    background-color: orange;
}
.sidenavCustom a:hover
{
    text-decoration: none;

    color: white;
}

.wellCustom
{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

    border: hidden 5px #d12ed1;
    -webkit-border-top-left-radius: 51px;
    -moz-border-radius-topleft: 51px;
            border-top-left-radius: 51px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
            border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 54px;
    -moz-border-radius-bottomright: 54px;
            border-bottom-right-radius: 54px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
            border-bottom-left-radius: 8px;
}

ul
{
    text-align: center;
}
li
{
    display: inline-block;

    margin-right: 10px;
    margin-left: 10px;
}

.banner{
  color: white;
}

.wellCustom a:hover{
  text-decoration: none;
  color: orange;
}
