.background-footer{
  background-color:  #d9d9d9;
}

.portfolio h1{
  font-size: 500%;
  font-weight: bold;
  background-color: #E4E7F0
}

.background-portfolio {
  background-color: #E4E7F0;
  background: @include filter-gradient(#ffffff,#ededed,horizontal);
  background: @include background-image(linear-gradient(left,
    rgba(255, 255, 255, 1)0%,
    rgba(246,246,246,1)47%,
    rgba(237,237,237,1)100%);
}
