<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>PLUCO - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
	<div id="background-green">
		background
	</div>
	<div class="page">
		<div class="home-page">
			{% block  panelLateral%}
			<div class="sidebar">
  			<a href="/" id="logo"><img src="/static/images/logo.png" alt="logo" height="90" width="90"></a>
  			<ul>
    			<li class="home">
      			<a href="/">Home</a>
    			</li>
    			<li class="about">
      			<a href="https://www.github.com/rafaellg8/IV-PLUCO-RLG">About</a>
    			</li>
    			<li class="projects">
      			<a href="https://www.github.com/rafaellg8/DAI_PLUCO">Projects</a>
    			</li>
    			<li class="blog">
      			<a href="/register">Sign Up</a>
    			</li>
    			<li class="contact">
      			<a href="/register">Contact</a>
    			</li>
  		</ul>
		</div>
	{% endblock %}
			<div class="body">
				<div class="content-home">
					{% block cabeceraTitulo %}
					<div>
						<h1>We are interior architects. What is <span class="beauty">beauty</span> without use. What is <span class="function">function</span> without aesthetics. our <span class="works">works have both</span>.</h1>
						<p>
							This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
						</p>
					</div>
					<div class="botonera">
					  <a href="/login"><button>login</button></a>
					  <a href="/register"><button>register</button></a>
					</div>
					{% endblock %}
					{% block articuloPrincipal %}
					<div class="featured">
						<img src="static/images/bed.jpg" alt="">
					</div>
					{% endblock %}
					{% block extra %}
					<div>
						<ul>
							<li>
								<a href="projects.html"><img src="/static/images/bg-projects.jpg" alt=""></a>
								<h4><a href="projects.html">Projects</a></h4>
								<h3><a href="projects.html">Soul Lounge Music Studio</a></h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam eleifend leo, id accumsan ligula mattis quis. Duis commodo dapibus enim, sit amet facilisis eros rhoncus venenatis.
								</p>
								<a href="projects.html">View More Projects</a>
							</li>
							<li>
								<a href="blog.html"><img src="/static/images/bg-blog.jpg" alt=""></a>
								<h4><a href="blog.html">Blog</a></h4>
								<h3><a href="blog.html">Best Paint To Use In The Kitchen</a></h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam eleifend leo, id accumsan ligula mattis quis. Duis commodo dapibus enim, sit amet facilisis eros rhoncus venenatis.
								</p>
								<a href="blog.html">View More Blog Posts</a>
							</li>
						</ul>
					</div>
					{% endblock %}
				</div>

				{% block footer  %}
				<div class="footer">
					<p>
						&#169; 2015-2016 Rafael Lachica Garrido
					</p>
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="https://www.github.com/rafaellg8/IV-PLUCO-RLG">About</a>
						</li>
						<li>
							<a href="https://www.github.com/rafaellg8/DAI_PLUCO">Projects</a>
						</li>
						<li>
							<a href="/register">Sign up</a>
						</li>
						<li>
							<a href="/register">Contact</a>
						</li>
					</ul>
				</div>
			</div>
			{% endblock %}

		</div>
	</div>
</body>
</html>
