{% extends "index.html" %}
{% block cabecera %}
  {{ super() }}
     <style type="text/css">
    {% block title %}
    {% if usuario %}
     {{usuario}}
    {%else%}
      Principal
    {% endif %}
    {% endblock %}
    </style>
{% endblock %}

    {% block encabezado %}
    {% if usuario %}
        Bienvenido {{usuario}}
        {% block logos %}
          {{super()}}
        {% endblock %}
        {% block github %}
          {{super()}}
        {% endblock %}
        {% block logout %}
          {{super()}}
        {% endblock %}
    {% else %}
      {{super()}}
    {% endif %}
    {% endblock %}

      {% block br %}{% endblock %}

    {% block nav %}
    {% endblock %}

  <!--Articulo Principal-->
  {% block div %}
  {% endblock %}

  <!--Pie de página-->
    {% block footer %}
      {{super()}}
    {% endblock %}
