{% extends "index.html" %}
{% block title %}
  PLUCO - About
{% endblock %}

{% load static %}
{% block panelLateral %}
{% endblock %}
{% block cabeceraTitulo %}

<div>
  <h3><span class="beauty">PLUCO</span></h3>
  <p style="float: left;margin-right: 400px;margin-top: 20px">
    Plataforma Universitaria Compartición Conocimiento
  </p>
</div>
{% endblock %}
{% block articuloPrincipal %}
<div>
  <p>Se trata de una plataforma académica de compartición de archivos de la Universidad de Granada, que permite la colaboración en grupo entre los usuarios del sistema.</p>

  <p style="float: right;margin-top: -18%;margin-right: 0px;">Desarrollado por: <strong>Rafael Lachica Garrido</strong></p>

  <p> Curso 2015 - 2016 . Granada </p>

  <p><a href="http://www.github.com/rafaellg8/">Acerca de</a></p>

  <p> Bajo Licencia Apache V3 </p>

</div>
{% endblock %}

{% block extra %}
{% endblock %}
