{% extends "index.html" %}
{% block title %}
  {% if user %}
    {{user}}
  {% else %}
    Principal
    {% endif %}
{% endblock %}

{% load static %}
{% block panelLateral %}
{% endblock %}
{% block cabeceraTitulo %}
<header id="top" class="header">
  <div style="margin-top: 10%;margin-left: 10%">
    <div class="text-vertical-center">
        <img src="{% static 'images/logo.png' %}">
        <h1>PLUCO</h1>
        <h3>Comparte el Conocimiento</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Empezar</a>
    </div>
  <div>
</header>
{% endblock %}

{% block articuloPrincipal %}
{% if user.is_authenticated or user%}
  <div>
    <h1 style="font-size: 520%">Bienvenido: {{user}}</h1>
    <br>
    <p>Se trata de una plataforma académica de compartición de archivos de la Universidad de Granada, que permite la colaboración en grupo entre los usuarios del sistema.</p>
  </div>
{% else %}
<div>
  <br>
  <p>Se trata de una plataforma académica de compartición de archivos de la Universidad de Granada, que permite la colaboración en grupo entre los usuarios del sistema.</p>
</div>
{% endif %}
{% endblock %}


{% block botonesExtra %}{% endblock %}
{% block map %}{% endblock %}
{% block masOpciones %}{% endblock %}
