{% extends "activity.html" %}{% block title %}{{user}}{% endblock %}
{% load easy_maps_tags %}

{% block panelLateral %}
{% endblock %}

{% block masOpciones %}
{% if user %}
<article class="container">
  <div class="row">
    <div>
      <div>
        <h3>Bienvenido: </h3>
        <h3 >{{user}}</h3>
      </div>
      <hr>
      <div style="padding-bottom: 14px">
        <h4>Datos usuario:</h4>
        <div style="padding: 1px 12px;background-color: lightgrey">
          <p>Nombre: {{user}} </p>
          <img src=/media/{{user.picture}} width="20%" height="20%" style="border: 1px solid black">
          <p> Email: {{user.user.email}} </p>
        <div>
      </div>
  </div>
</div>
</article>
{% else %}
{% endif %}
{% endblock %}


{% block botonesExtra %}
<aside class="bg-primary" style="padding-bottom: 10px">
    <div class="container">
        <div class="row">
            <div class="col text-left">
              <h3>Modificar mis datos</h3>
              <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-dark">Modificar mis datos</button>
              </form>
        </div>
    </div>
   </div>
 </aside>

{% endblock %}

{% block articuloPrincipal %}{% endblock %}
{% block servicios %}{% endblock %}
{% block about %}{% endblock %}

{% block map %}
<div>{% easy_map user.address 300 400 using 'map.html' %}</div>
{% endblock %}
